<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label for="newServerName">Server Name</label>
    <input id="newServerName"
           type="text"
           class="form-control"
           #serverNameInput
    >
    <label for="newServerContent">Server Content</label>
    <input id="newServerContent"
           type="text"
           class="form-control"
           #serverContentInput
    >
    <br>
    <button
      class="btn btn-primary"
      (click)="onServerAdded(serverNameInput, serverContentInput)">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onBlueprintAdded(serverNameInput, serverContentInput)">Add Server Blueprint</button>
    <button
      class="btn btn-primary"
      (click)="onReset()">Reset</button>
  </div>
</div>
